body {
  background: rgb(20,20,20);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  text-transform: none;
  letter-spacing: 3px;
}

#main-div {
  min-height: 100vh;
}

/* Custom scroll bar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  color: black;
  background-color: rgb(255,255,255);
}

::-webkit-scrollbar-track {
  background-color: black;
  color: black;
}

