#hero-1 {
  height: 100vh;
  background: url("../../../assets/img/me/DSC01467.png?h=8d5ff9e5f76901b44d5645d7618ed02c") bottom right / contain no-repeat;
  filter: contrast(130%);
}

/* Hero 2 */

#hero-2 {
  background: #ffffff;
  padding-top: 50px;
  padding-bottom: 30px;
}

.skill-icons-col {
  padding: 15px;
  border-right-width: 0.2px;
  border-bottom: 1px solid rgb(222,222,222) ;
  border-left-width: 0.2px;
}

.skill-icons-col > p {
  font-size: 70px;
  text-align: center;
  color: rgb(180,180,180);
}

.skill-icons-col > p:hover {
  font-size: 70px;
  text-align: center;
  color: rgb(140,140,140);
}

.skill-icons-col.end {
  border-bottom-style: none;
}

/* Hero 3 */

#hero-3 {
  padding-top: 50px;
  margin-bottom: 50px;
}

#hero-3 > .container {
  border-bottom: 1px solid rgb(50,50,50) ;
}

.hero-3-rows {
  padding-bottom: 50px;
}

.info-col {
  border-bottom: 1px solid rgb(50,50,50) ;
}

