.top-column-info {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.column-boxes-items {
  padding: 12px;
  border-right-width: 0.1px;
  border-right-style: solid;
  border-left-width: 0.1px;
  border-left-style: solid;
}

.column-boxes-items > p {
  margin-bottom: 0;
}

.column-boxes-items.end {
  border-right-style: none;
}

@media (max-width: 991px) {
  .column-boxes {
    border-width: 1px;
    border-style: solid;
  }
}

