.navigation-clean-button {
  background: rgba(0,0,0,0.4);
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  padding-bottom: .75rem;
  padding-top: .75rem;
}

@media (min-width:768px) {
  .navigation-clean-button {
    padding-top: 0px;
    padding-bottom: 0px;
    background: rgba(0,0,0,0.8);
  }
}

.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: rgb(255,255,255);
  font-family: Tomorrow, sans-serif;
  font-size: 30px;
  background: url("../../assets/img/icons/blue_logo.png?h=214cc1064d8bdce5622dc244726c3af0") center / 150% no-repeat;
  height: 50px;
  width: 110px;
}

.navigation-clean-button .navbar-brand:hover {
  color: #d2d2d2;
  font-family: Tomorrow, sans-serif;
}

.navigation-clean-button.navbar-dark .navbar-brand:hover {
  color: #f0f0f0;
}

.navigation-clean-button .navbar-brand img {
  height: 100%;
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.navigation-clean-button .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-button .navbar-toggler:hover, .navigation-clean-button .navbar-toggler:focus {
  background: none;
}

.navigation-clean-button.navbar-dark .navbar-toggler {
  border-color: #555;
}

.navigation-clean-button .navbar-toggler {
  color: #888;
  border-color: #20ffff;
  background: rgba(30,237,241,0.7);
}

.navigation-clean-button.navbar-dark .navbar-toggler {
  color: #eee;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .form-inline {
  border-top-color: #ddd;
}

.navigation-clean-button.navbar-dark .navbar-collapse, .navigation-clean-button.navbar-dark .form-inline {
  border-top-color: #333;
}

.navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active, .navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
  color: #00ffff;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #51a4e4;
  font-weight: bold;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: orange;
  background-color: transparent;
  animation-name: glitch--font;
  animation-duration: 3s;
  animation-direction: normal;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .show .dropdown-menu {
    box-shadow: none;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #37434d;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1;
  }
}

.navigation-clean-button.navbar-dark {
  background-color: #1f2021;
  color: #fff;
}

.navigation-clean-button.navbar-dark .navbar-nav a.active, .navigation-clean-button.navbar-dark .navbar-nav a.active:focus, .navigation-clean-button.navbar-dark .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-button.navbar-dark .navbar-nav .nav-link {
  color: #dfe8ee;
}

.navigation-clean-button.navbar-dark .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: transparent;
}

.navigation-clean-button.navbar-dark .navbar-nav > li > .dropdown-menu {
  background-color: #1f2021;
}

.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item {
  color: #f2f5f8;
}

.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:hover {
  background: #363739;
}

@media (max-width:767px) {
  .navigation-clean-button.navbar-dark .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fff;
  }
}

.navigation-clean-button .actions .login {
  margin-right: 1rem;
  text-decoration: none;
  color: #465765;
}

.navigation-clean-button.navbar-dark .actions .login {
  color: #dfe8ee;
}

.navigation-clean-button.navbar-dark .actions .login:hover {
  color: #fff;
}

.navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
  background: #000000;
  border-radius: 10px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
  font-family: Tomorrow, sans-serif;
}

.navigation-clean-button .navbar-text .action-button:hover {
  background: rgb(0,243,239);
  color: black;
}

.navigation-clean-button.navbar-dark .action-button, .navigation-clean-button.navbar-dark .action-button:active {
  background: #208f8f;
}

.navigation-clean-button.navbar-dark .action-button:hover {
  background: #269d9d;
}

@keyframes glitch--font {
  0% {
    text-shadow: 5px 5px rgb(255,0,0);
  }
  1%, 4% {
    text-shadow: 0px 0px rgb(0,0,0,1);
  }
  5% {
    text-shadow: -10px -5px rgb(0,255,0);
  }
  6%, 9% {
    text-shadow: 0px 0px rgb(0,0,0,1);
  }
  10% {
    text-shadow: 5px -5px rgb(0,0,255);
  }
  11%, 19% {
    text-shadow: 0px 0px rgb(0,0,0,1);
  }
  20% {
    text-shadow: -5px 5px rgb(255,0,0);
  }
  21%, 29% {
    text-shadow: 0px 0px rgb(0,0,0,1);
  }
  30% {
    text-shadow: 5px 5px rgb(0,255,0);
  }
  31% {
    text-shadow: 0px 0px rgb(0,0,0,1);
  }
}

/* Side Menu Style */

#side-menu {
  background-color: rgba(0,0,0,0.8);
}

@media (max-width: 768px) {
  .nav_link {
    color: #51a4e4 !important;
  }
}

@media (max-width: 767px) {
  .nav_link_btn_span {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav_link_btn {
    font-family: Tomorrow, sans-serif;
    background-color: #51a4e4 !important;
    color: black;
  }
}

@media (max-width: 768px) {
  .close {
    font-family: Tomorrow, sans-serif;
    color: #ff47ff;
    text-shadow: 0 1px 0 rgba(255,71,255,0.5);
  }
}

