body {
  font-family: Oxanium, serif;
}

.fullscreen-div {
  min-height: 100vh;
}

.main-font {
  font-family: 'Oxanium';
}

.secondary-font {
  font-family: 'Codystar';
}

.third-font {
  font-family: 'Libre Barcode 128 Text', serif;
}

