.card div {
  background: linear-gradient(rgba(255,255,255,0) 0%, black 100%);
}

.expand-btn {
  background: #44494e;
  color: var(--bs-tertiary-bg);
  padding: 5px;
  border-radius: 9px;
  cursor: pointer;
  font-family: Codystar, serif;
  font-size: 12px;
  margin-bottom: 20px;
}

.compress-p {
  max-height: 300px;
  overflow-y: scroll;
}

